@charset "UTF-8";
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url(/fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans-Regular";
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans-Bold";
  src: url(/fonts/OpenSans-Bold.ttf) format("truetype");
}

body {
  font-family: "Open Sans-Bold","Open Sans-Regular", "PlayfairDisplay-Regular", "PlayfairDisplay-Bold", sans-serif;
  color: #18191F;
  box-sizing: border-box;
  background: linear-gradient(to right, #F9FDFF 58%, #FCEAE8 48%);
}

h1, h2, h3, h4, h6, p {
  margin: 0;
}

.container-1 {
  width: 1170px;
  margin: 0 auto;
  padding: 90px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin-bottom: 125px;
}

.Furniture-header {
  width: 540px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.Furniture-header__logo:hover {
  cursor: pointer;
}

.Furniture-header__menu {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.Furniture-header__menu a {
  text-transform: uppercase;
  font: 400 14px "Open Sans-Regular", sans-serif;
  color: #303032;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}

.Furniture-header__menu a:hover, .Furniture-header__menu a:focus {
  color: #09080c;
  text-decoration-line: underline;
  transition: .3s;
}

.Furniture-header__menu > li > a {
  display: block;
}

.Furniture-header__right {
  width: 80px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

.Furniture-header__right #search:hover path, .Furniture-header__right #search:focus path {
  cursor: pointer;
  stroke: #09080c;
}

#btn-menu {
  display: none;
}

#btn-menu:checked + label::before {
  content: url(/img/close.svg);
}

#btn-menu + label {
  display: none;
  position: relative;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

#btn-menu + label::before {
  content: url(/img/open.svg);
  display: inline-block;
}

section {
  margin: 0 auto;
}

.your-class {
  margin-top: 100px;
}

.slider {
  outline: none;
}

.container {
  width: 1170px;
  color: #303032;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  cursor: grab;
  background: linear-gradient(to right, #F9FDFF 63.2%, #FCEAE8 48%);
}

.container img {
  height: 600px;
}

.container .title {
  width: 545px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 50px;
}

.container .title h2 {
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  text-transform: uppercase;
}

.container .title #chair {
  font: 400 20px "Open Sans-Regular", sans-serif;
}

.container .title p {
  font: 400 20px "Open Sans-Regular", sans-serif;
}

.container .title button {
  width: 238px;
  font: 400 14px "Open Sans-Regular", sans-serif;
  font-size: 16px;
  padding: 18px 82px;
  text-transform: uppercase;
  border: none;
  background: #303032;
  color: #FFFFFF;
}

.container .title button:focus, .container .title button:hover {
  background: #5e5e61;
  cursor: pointer;
  outline: none;
}

.container .cost #first {
  font: 400 20px "Open Sans-Regular", sans-serif;
  margin-right: 22px;
}

.container .cost #second {
  font: 600 30px "Open Sans-Bold", sans-serif;
}

.container .cost p {
  font: 400 20px "Open Sans-Regular", sans-serif;
  margin-right: 22px;
  display: inline-block;
}

.container .cost span {
  font: 600 30px "Open Sans-Bold", sans-serif;
}

.slick-dots {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40px;
  left: 79%;
  margin-left: -30px;
  top: 30%;
  font: 400 20px "Open Sans-Regular", sans-serif;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.3);
}

.slick-dots li {
  margin-bottom: 20px;
  height: 40px;
}

.slick-active {
  position: absolute;
  right: 18px;
  font: 400 20px "Open Sans-Regular", sans-serif;
  font-size: 40px;
  color: #000000;
}

.slick-active a {
  padding-right: 20px;
  border-right: 2px solid #000000;
}

/* медиа запросы */
@media screen and (max-width: 1440px) {
  .container {
    background: linear-gradient(to right, #F9FDFF 59.8%, #FCEAE8 48%);
  }
  .slick-dots {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .container-1 {
    width: 900px;
  }
  .container {
    width: 900px;
    background: linear-gradient(to right, #F9FDFF 59.1%, #FCEAE8 48%);
  }
  .container img {
    height: 500px;
  }
  .title {
    width: 400px !important;
  }
  h2 {
    font-size: 45px !important;
  }
  .slick-dots {
    top: 15%;
  }
}

@media screen and (max-width: 768px) {
  .container-1 {
    width: 650px;
  }
  .container {
    width: 650px;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container img {
    height: 410px;
  }
  .Furniture-header {
    width: 350px;
  }
  .Furniture-header__menu {
    width: 290px;
  }
  .title {
    width: 260px !important;
  }
  h2 {
    font-size: 40px !important;
  }
  .slick-dots {
    margin-left: 90px;
    top: 15%;
  }
}

@media screen and (max-width: 425px) {
  #btn-menu + label {
    display: inline-block;
    padding-top: 8px;
    z-index: 2;
  }
  #btn-menu + label + .Furniture-header__menu {
    display: none;
    background-color: #303032;
    width: 150px;
  }
  #btn-menu:checked + label + .Furniture-header__menu {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  .Furniture-header__menu > li > a {
    padding: 5px 20px 5px 0px;
    color: #FFFFFF;
  }
  .Furniture-header__menu > li {
    width: 150px;
  }
  body {
    background: #F9FDFF;
  }
  .container-1 {
    width: 350px;
    padding-top: 23px;
  }
  .header-menu {
    margin-bottom: 0;
  }
  .Furniture-header {
    width: 350px;
  }
  .Furniture-header__menu {
    position: absolute;
    width: 110px;
    right: 0;
    top: 0;
    margin-top: 90px;
    margin-right: 35px;
    padding-top: 50px;
    padding-bottom: 60px;
    z-index: 1;
  }
  .Furniture-header__right {
    position: absolute;
    right: 0;
    margin-right: 120px;
  }
  .Furniture-header a:hover, .Furniture-header a:focus {
    color: #ffff;
    text-decoration-line: underline;
    transition: .3s;
  }
  .your-class {
    margin-top: 20px;
  }
  .container {
    width: 350px;
    background: none;
  }
  .container h2 {
    font-size: 40px !important;
  }
  .container img {
    height: 380px;
    order: -1;
    padding-top: 50px;
    padding-right: 26px;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container .title {
    height: 360px;
    width: 350px !important;
    background-color: #F9FDFF;
  }
  .container button {
    width: auto  !important;
  }
  .slick-dots {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 40px;
    top: 97%;
    left: 50%;
    margin-left: -100px;
  }
  .slick-dots li {
    margin-right: 20px;
    width: 40px;
  }
  .slick-active {
    position: absolute;
    right: 0;
    bottom: 15px;
    font: 400 20px "Open Sans-Regular", sans-serif;
    font-size: 30px;
  }
  .slick-active a {
    padding-bottom: 15px;
    border: none;
    border-bottom: 2px solid #000000;
  }
}

@media screen and (max-width: 375px) {
  .Furniture-header {
    width: 340px;
  }
  .Furniture-header__menu {
    margin-right: 20px;
  }
  .container {
    width: 340px;
  }
  .container img {
    height: 360px;
    order: -1;
    padding-top: 50px;
    padding-right: 15px;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container .title {
    height: 360px;
    width: 340px !important;
    background-color: #F9FDFF;
  }
  .container .title button {
    width: auto !important;
  }
}

@media screen and (max-width: 320px) {
  .Furniture-header {
    width: 290px;
  }
  .Furniture-header__menu {
    margin-right: 20px;
  }
  .container-1 {
    width: 290px;
  }
  .container {
    width: 290px;
  }
  .container img {
    height: 310px;
    order: -1;
    padding-top: 50px;
    padding-right: 10px;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container .title {
    height: 320px;
    width: 290px !important;
  }
  .container .title h2 {
    font-size: 30px !important;
  }
}
