@charset "UTF-8";
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url(/fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans-Regular";
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans-Bold";
  src: url(/fonts/OpenSans-Bold.ttf) format("truetype");
}

.header {
  background: linear-gradient(to right, #F9FDFF 58%, #FCEAE8 48%);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-menu {
  width: 1170px;
  margin: 0 auto;
  padding: 90px 0 0 0;
  padding-bottom: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Furniture-header {
  width: 540px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.Furniture-header__logo:hover {
  cursor: pointer;
}

.Furniture-header__menu {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.Furniture-header__menu a {
  text-transform: uppercase;
  font: 400 14px "Open Sans-Regular", sans-serif;
  color: #303032;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}

.Furniture-header__menu a:hover, .Furniture-header__menu a:focus {
  color: #09080c;
  text-decoration-line: underline;
  transition: .3s;
}

.Furniture-header__menu > li > a {
  display: block;
}

.Furniture-header__right {
  width: 80px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

.Furniture-header__right #search:hover path, .Furniture-header__right #search:focus path {
  cursor: pointer;
}

#btn-menu {
  display: none;
}

#btn-menu:checked + label::before {
  content: url(/img/close.svg);
}

#btn-menu + label {
  display: none;
  position: relative;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

#btn-menu + label::before {
  content: url(/img/open.svg);
  display: inline-block;
}

.slider {
  outline: none;
}

.container-1 {
  width: 1170px;
  color: #303032;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  cursor: grab;
  background: linear-gradient(to right, #F9FDFF 67.4%, #FCEAE8 48%);
}

.container-1 img {
  height: 600px;
}

.container-1 .title {
  width: 545px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 50px;
}

.container-1 .title h2 {
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  text-transform: uppercase;
}

.container-1 .title #chair {
  font: 400 20px "Open Sans-Regular", sans-serif;
}

.container-1 .title p {
  font: 400 20px "Open Sans-Regular", sans-serif;
}

.container-1 .title button {
  width: 238px;
  font: 400 14px "Open Sans-Regular", sans-serif;
  font-size: 16px;
  padding: 18px 82px;
  text-transform: uppercase;
  border: none;
  background: #303032;
  color: #FFFFFF;
}

.container-1 .title button:focus, .container-1 .title button:hover {
  background: #5e5e61;
  cursor: pointer;
  outline: none;
}

.container-1 .cost #first {
  font: 400 20px "Open Sans-Regular", sans-serif;
  margin-right: 22px;
}

.container-1 .cost #second {
  font: 600 30px "Open Sans-Bold", sans-serif;
}

.container-1 .cost p {
  font: 400 20px "Open Sans-Regular", sans-serif;
  margin-right: 22px;
  display: inline-block;
}

.container-1 .cost span {
  font: 600 30px "Open Sans-Bold", sans-serif;
}

.slick-dots {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40px;
  left: 79%;
  margin-left: -30px;
  top: 30%;
  font: 400 20px "Open Sans-Regular", sans-serif;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.3);
}

.slick-dots li {
  margin-bottom: 20px;
  height: 40px;
}

.slick-active {
  position: absolute;
  right: 18px;
  font: 400 20px "Open Sans-Regular", sans-serif;
  font-size: 40px;
  color: #000000;
}

.slick-active a {
  padding-right: 20px;
  border-right: 2px solid #000000;
}

.new-furniture {
  width: 1170px;
  margin: 120px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.new-furniture #line {
  height: 4px;
  width: 90px;
  background-color: #303032;
  margin-top: 7px;
}

.new-furniture .title_new {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.new-furniture h2 {
  text-transform: uppercase;
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  font-size: 28px;
}

.new-furniture p {
  font: 400 20px "Open Sans-Regular", sans-serif;
}

.new-furniture p:hover {
  cursor: pointer;
}

.new-furniture span {
  font: 600 30px "Open Sans-Bold", sans-serif;
  font-size: 28px;
}

.new-furniture__left {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-furniture__left-block {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  padding: 8px 0;
  overflow-x: hidden;
}

.new-furniture__left-block p {
  padding-bottom: 10px;
}

.new-furniture__left-block:nth-last-child(-n+2) {
  margin-top: 37px;
}

.new-furniture__left-block:nth-last-child(1):hover, .new-furniture__left-block:nth-last-child(1):active, .new-furniture__left-block:nth-last-child(1):focus {
  background-color: #FAECE9;
}

.new-furniture__right {
  overflow: hidden;
}

.new-furniture__right .chair_white {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 37px 28px 43px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.new-furniture__right .chair_white img {
  padding-bottom: 29px;
}

.new-furniture__right .chair_white p {
  padding-bottom: 7px;
}

.new-furniture__right p:hover {
  cursor: pointer;
}

.block {
  margin: 0 auto;
  width: 653px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 132px;
}

.block img {
  padding-bottom: 25px;
}

.block h4 {
  padding-bottom: 10px;
  font: 600 30px "Open Sans-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.block span {
  padding-bottom: 20px;
  font: 400 14px "Open Sans-Regular", sans-serif;
}

.block p {
  font: 400 14px "Open Sans-Regular", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.slider-arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 99;
}

.slider-arrow {
  cursor: pointer;
}

.slider-arrow__left {
  background: url(../img/left-arrow.svg) center no-repeat;
  background-color: #FFFFFF;
  left: 30%;
  top: 32%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.slider-arrow__right {
  background: url(../img/right-arrow.svg) center no-repeat;
  background-color: #FFFFFF;
  right: 30%;
  top: 32%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.comments .slick-dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 5px;
  left: 50%;
  margin-left: -40px;
  top: 80%;
}

.comments .slick-active {
  right: 0px;
  padding: 0;
  content: '';
  background: url(../img/activ_dots.svg) center no-repeat;
}

.comments a {
  padding-right: 0;
  border-right: 0;
}

.comments li {
  margin-bottom: 0;
  height: 20px;
}

.comments .slick-dots li button {
  width: 9px;
}

.comments .slick-dots li button:before {
  width: 9px;
  padding: 0;
  content: '';
  background: url(../img/dots.svg) center no-repeat;
}

.last_chance {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.last_chance #line {
  height: 4px;
  width: 90px;
  background-color: #303032;
  margin-top: 7px;
  margin-bottom: 37px;
}

.last_chance .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last_chance h2 {
  text-transform: uppercase;
  font: 700 57px "PlayfairDisplay-Bold", sans-serif;
  font-size: 28px;
}

.last_chance .types {
  display: flex;
  width: 275px;
  justify-content: space-between;
  padding-bottom: 25px;
}

.last_chance .types a {
  font: 600 30px "Open Sans-Bold", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-decoration: none;
}

.last_chance .types a:hover, .last_chance .types a:focus {
  color: #09080c;
  text-decoration-line: underline;
  transition: .3s;
}

.last_chance .chairs {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.last_chance .chairs_block {
  width: 209px;
  height: 355px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

/* медиа запросы */
@media screen and (max-width: 1920px) {
  .container-1 {
    background: linear-gradient(to right, #F9FDFF 63.1%, #FCEAE8 48%);
  }
}

@media screen and (max-width: 1440px) {
  .container-1 {
    background: linear-gradient(to right, #F9FDFF 59.8%, #FCEAE8 48%);
  }
  .slick-dots {
    margin-left: 120px;
  }
  .slider-arrow__left {
    left: 20%;
  }
  .slider-arrow__right {
    right: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .container, .header-menu {
    width: 900px;
  }
  .container-1 {
    width: 900px;
    background: linear-gradient(to right, #F9FDFF 59.1%, #FCEAE8 48%);
  }
  .container-1 img {
    height: 500px;
  }
  .title {
    width: 400px !important;
  }
  h2 {
    font-size: 45px !important;
  }
  .slick-dots {
    top: 15%;
  }
  .new-furniture {
    width: 950px;
    overflow-x: hidden;
  }
  .new-furniture h2 {
    font-size: 25px !important;
  }
  .new-furniture__left {
    width: 450px;
  }
  .new-furniture__left-block {
    width: 220px;
    padding: 12px 0;
  }
  .new-furniture__left-block:nth-last-child(-n+2) {
    margin-top: 20px;
  }
  .new-furniture__right .chair_white {
    padding: 20px 0 28px 0;
  }
  .slider-arrow__left {
    left: 15%;
  }
  .slider-arrow__right {
    right: 15%;
  }
}

@media screen and (max-width: 768px) {
  .container, .header-menu {
    width: 650px;
  }
  .container-1 {
    width: 650px;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container-1 img {
    height: 410px;
  }
  .Furniture-header {
    width: 350px;
  }
  .Furniture-header__menu {
    width: 290px;
  }
  .title {
    width: 260px !important;
  }
  h2 {
    font-size: 40px !important;
  }
  .slick-dots {
    margin-left: 90px;
    top: 15%;
  }
  .new-furniture {
    width: 600px;
    padding-left: 30px;
  }
  .new-furniture__left {
    width: 570px;
  }
  .new-furniture__left-block {
    width: 270px;
  }
  .new-furniture__right {
    margin-top: 20px;
  }
  .new-furniture__right .chair_white {
    padding: 20px 37px 28px 43px;
  }
  .block {
    width: 550px;
  }
  .slider-arrow__left {
    left: 10%;
  }
  .slider-arrow__right {
    right: 10%;
  }
}

@media screen and (max-width: 425px) {
  #btn-menu + label {
    display: inline-block;
    padding-top: 8px;
    z-index: 2;
  }
  #btn-menu + label + .Furniture-header__menu {
    display: none;
    background-color: #303032;
  }
  #btn-menu:checked + label + .Furniture-header__menu {
    height: 568px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 155px 0 155px;
  }
  .Furniture-header__menu > li > a {
    color: #FFFFFF;
    font: 400 20px "Open Sans-Regular", sans-serif;
    display: block;
    padding-bottom: 65px;
  }
  .Furniture-header__menu > li {
    display: block;
  }
  .container, .header-menu {
    width: 350px;
    padding-top: 23px;
    padding-bottom: 0;
  }
  .Furniture-header {
    width: 350px;
  }
  .Furniture-header__menu {
    position: absolute;
    width: 110px;
    right: 0;
    top: 0;
    margin-top: -10px;
    z-index: 1;
  }
  .Furniture-header__right {
    position: absolute;
    right: 0;
    margin-right: 120px;
  }
  .Furniture-header a:hover, .Furniture-header a:focus {
    color: #ffff;
    text-decoration-line: underline;
    transition: .3s;
  }
  .your-class {
    margin-top: 20px;
  }
  .container-1 {
    width: 350px;
    background: none;
  }
  .container-1 h2 {
    font-size: 40px !important;
  }
  .container-1 img {
    height: 372px;
    order: -1;
    padding-top: 50px;
    padding-right: 0;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container-1 .title {
    height: 360px;
    padding-right: 127px;
    background-color: #F9FDFF;
  }
  .container-1 button {
    width: auto  !important;
  }
  .slick-dots {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 40px;
    top: 97%;
    left: 50%;
    margin-left: -100px;
  }
  .slick-dots li {
    margin-right: 20px;
    width: 40px;
  }
  .slick-active {
    position: absolute;
    right: 0;
    bottom: 15px;
    font: 400 20px "Open Sans-Regular", sans-serif;
    font-size: 30px;
  }
  .slick-active a {
    padding-bottom: 15px;
    border: none;
    border-bottom: 2px solid #000000;
  }
  .new-furniture {
    width: 410px;
    padding: 0;
    padding-left: 8px;
  }
  .new-furniture__left {
    width: 400px;
  }
  .new-furniture__left-block {
    width: 195px;
  }
  .new-furniture__right {
    padding: 20px 37px 28px 43px;
  }
  .block {
    display: none;
  }
  .comments {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  #btn-menu + label + .Furniture-header__menu {
    display: none;
    background-color: #303032;
  }
  #btn-menu:checked + label + .Furniture-header__menu {
    padding: 0 135px 0 135px;
    margin: 0;
  }
  .Furniture-header {
    width: 340px;
  }
  .Furniture-header__menu {
    margin-right: 20px;
  }
  .container-1 {
    width: 340px;
  }
  .container-1 img {
    height: 340px;
    order: -1;
    padding-top: 50px;
    padding-right: 15px;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container-1 .title {
    height: 360px;
    background-color: #F9FDFF;
    padding-right: 115px;
  }
  .container-1 .title button {
    width: auto !important;
  }
  .new-furniture {
    width: 340px;
    padding-left: 8px;
    justify-content: center;
  }
  .new-furniture #line {
    margin-bottom: 39px;
  }
  .new-furniture__left {
    width: 340px;
    justify-content: center;
  }
  .new-furniture__left-block {
    width: 288px;
    height: 299px;
    overflow: hidden;
  }
  .new-furniture__right {
    padding: 0;
  }
  .new-furniture__right .chair_white {
    padding: 0;
    padding-bottom: 16px;
    text-align: center;
  }
  .new-furniture__right .chair_white img {
    padding: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  #btn-menu:checked + label + .Furniture-header__menu {
    padding: 0 105px 0 105px;
  }
  .Furniture-header {
    width: 290px;
  }
  .Furniture-header__menu {
    margin-right: 20px;
  }
  .container, .header-menu {
    width: 290px;
  }
  .container-1 {
    width: 290px;
  }
  .container-1 img {
    height: 296px;
    order: -1;
    padding-top: 50px;
    padding-right: 10px;
    background: linear-gradient(to right, #F9FDFF 59.2%, #FCEAE8 48%);
  }
  .container-1 .title {
    height: 320px;
    padding-right: 53px;
  }
  .container-1 .title h2 {
    font-size: 30px !important;
  }
  .new-furniture {
    width: 290px;
    padding-left: 8px;
    justify-content: center;
  }
  .new-furniture #line {
    margin-bottom: 39px;
  }
  .new-furniture__left {
    width: 290px;
    justify-content: center;
  }
  .new-furniture__left-block {
    width: 270px;
    height: 299px;
    overflow: hidden;
  }
  .new-furniture__right {
    padding: 0;
  }
  .new-furniture__right .chair_white {
    padding: 0;
    padding-bottom: 16px;
    text-align: center;
  }
  .new-furniture__right .chair_white img {
    padding: 0 30px;
  }
}

body {
  font-family: "Open Sans-Bold","Open Sans-Regular", "PlayfairDisplay-Regular", "PlayfairDisplay-Bold", sans-serif;
  color: #18191F;
  box-sizing: border-box;
  background-color: #F9FDFF;
}

h1, h2, h3, h4, h6, p {
  margin: 0;
}
