@import "_font.sass"
@import "_variables.sass"
@import "_header.sass"
@import "_section.sass"
@import "_footer.sass"
@import "_media.sass"



body 
     font-family: "Open Sans-Bold","Open Sans-Regular", "PlayfairDisplay-Regular", "PlayfairDisplay-Bold", sans-serif
     color: #18191F
     box-sizing: border-box
     background-color: #F9FDFF

h1, h2, h3, h4, h6, p 
     margin: 0
    




















